.home-image{
    margin-top: -2.5vh;
    position: absolute;
    padding-top: 20vh;
    text-align: center;
    width: 100vw;
    height: 50vh;
    filter: blur(4px);
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0) ), url('images/gunn2.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 90vh;

}

.home-content{
    margin-top:-30vh;
}

.home-content-2{
    margin-top: -18vh;
}

.home-content-3{
    margin-top:40vh;
    margin-left: -10vw;
    background: var(--text-secondary);
    width:110vw;
    height:100vh;
}

.home-content-4{
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin-top: 0vh;
    margin-left: -10vw;
    /*left: 0;*/

}

.text-wall-2{
    margin-top: 25vh;
    margin-left: 20vw;
}

.topic-box{
    display:flex;

   flex-wrap: wrap;
    justify-content: space-evenly;
    background:var(--text-secondary);
    width:80vw;
    height:60vh;
    position:absolute;
    margin-top: 30vh;
    margin-left:20vw;
}

.subject-icon{

    width:12.25vw;
    height:12.25vw;
    background-size:cover;
    filter: invert(100%);
}

.subject-label{
    text-align:center;
    color:white;
    font-size:2vh;
    width:13.25vw;
    height:4vh;
    font-family: Alata;
}

.social-media{
    display: flex;
    width: 80vw;
    height: 40vh;
    margin-top: 10vh;
    margin-left: 20vw;
    background: var(--text-primary);
    justify-content: space-evenly;
}

.social-links{
    display: flex;
    justify-content: space-evenly;
    width:25vw;
    height: 40vh;
    background: var(--text-primary);
    flex-wrap: wrap;
}

.social-links img{
    width:15vw;
    height: 15vw;
    transition: transform 200ms ease;
}

.social-descript{
    padding-top: 3vh;
    text-align: center;
    font-size: 5vh;
    width: 25vw;
    color: var(--text-secondary);
}

.social-links img:hover{
    transform: scale(1.1);
}

footer{
    margin-top:120vh;
}

@media only screen and (max-width: 1200px){
    .home-content-2 h1{
        font-size: 3vh;
    }

    .home-content-3{
        margin-top: 20vh;
    }
}