.home-image{
    margin-top: -2.5vh;
    position: absolute;
    padding-top: 20vh;
    text-align: center;
    width: 100vw;
    height: 50vh;
    filter: blur(4px);
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0) ), url('images/gunn2.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 90vh;

}

.home-content{
    margin-top:-30vh;
}

.home-content-2{
    margin-top: -10vh;
}

.home-content-3{
    margin-top:40vh;
    margin-left: -10vw;
    background: var(--text-secondary);
    width:110vw;
    height:100vh;
}

.topic-box{
    display:flex;

   flex-wrap: wrap;
    justify-content: space-evenly;
    background:var(--text-secondary);
    width:80vw;
    height:60vh;
    position:absolute;
    margin-top: 30vh;
    margin-left:20vw;
}

.subject-icon{

    width:12.25vw;
    height:12.25vw;
    background-size:cover;
    filter: invert(100%);
}

.subject-label{
    text-align:center;
    color:white;
    font-size:2vh;
    width:13.25vw;
    height:4vh;
}