@import url(https://fonts.googleapis.com/css?family=Open+Sans);

:root{
    font-size: 0.8vw;
    font-family: 'Verdana';

    --text-primary: white;
    --text-secondary: #972b2b;
    --text-final: #4b1313;
    --background-primary: dark gray;
    --background-secondary: black;
    --content-primary: light gray;
    --transform-speed: 200ms;

}


.navbar{
    z-index: 2;
    top: 0;
    overflow: hidden;
    margin-left: -10px;
    padding:0px;
    width: 100vw;
    height: 10vh;
    position: fixed;
    background-color: var(--text-secondary);
    box-shadow: 0px 10px 18px black;
}


.navbar-nav {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    font-size: 2rem;
    overflow: auto;
}
.nav-item{
    padding-top: 5px;
    height: 4rem;
}

.nav-link{
    transition: transform 200ms ease;
}

.link-text{
    font-size: 2vh;
}

li a{
    display: block;
    color: White;
    padding: 8px 8px;
    text-decoration:none;

}


a.nav-link:hover {
    color: darkgrey;
    transform: scale(1.1);
}

body{
    background: white;
}

main{
    width: 100vw;
    height: 100vh;
    margin: -10px;
    padding: -10px;
    margin-top: 6rem;
    text-align: center;
}

.home-image{
    margin-top: -10px;
    position: absolute;
    padding-top: 20vh;
    text-align: center;
    width: 100vw;
    height: 50vh;
    filter: blur(2px);
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1) ), url('images/kids2.jpg');

}

.home-image-text{
    margin-top: 10vh;
    position: absolute;
    text-align: center;
    width: 100vw;
    height: 50vh;
    filter: drop-shadow(0 0 0.75rem black);
}

.home-content{
    text-alight: center;
    width: 100vw;
    height:100vh;
    margin-top:75vh;
    position:absolute;
}

footer{
    padding: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    height: 20vh;
    margin-top: 100vh;
    background-color: #444444;
}

.footer-fess{
    z-index: 2;
    width: 100vw;
    position:absolute;
    left: 0;
    height: 2vh;
    background-color: var(--text-secondary);
}