@import url(https://fonts.googleapis.com/css?family=Alata);

:root{
    font-size: 0.8vw;
    font-family: 'Segoe UI','Open Sans',Calibri,Arial;
    /*
    Original Gunn Colored Theme
    --text-primary: white;
    --text-secondary: #972b2b;
    --text-final: #4b1313;
    --background-primary: dark gray;
    --background-secondary: black;
    --content-primary: white;
    */
    --text-primary: white;
    --text-secondary: #262262;
    --text-final: #262262;
    --background-primary: dark gray;
    --background-secondary: #262262;
    --content-primary: white;
    --transform-speed: 200ms;
    color:#262262;

}


.navbar{
    z-index: 2;
    top: 0;
    overflow: hidden;
    margin-left: -20px;
    padding:0px;
    width: 110vw;
    height: 7vh;
    position: fixed;
    background-color: var(--text-secondary);
    box-shadow: 0px 10px 18px black;
}


.navbar-nav {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0.3vh;
    font-size: 2rem;
    overflow: auto;
}
.nav-item{
    padding-top: 5px;
    height: 4rem;
}

.nav-link{
    transition: transform 200ms ease;
}

.link-text{
    font-family: Alata;
    font-size: 2vh;
}

li a{
    display: block;
    color: var(--content-primary);
    padding: 8px 8px;
    text-decoration:none;

}


a.nav-link:hover {
    color: darkgrey;
    transform: scale(1.1);
}

body{
    background: var(--content-primary);
}

main{
    width: 100vw;
    height: 100vh;
    /*margin: -10px;*/
    padding: -10px;
    margin-top: 6rem;
    text-align: center;
}

.home-image{
    margin-top: -2.5vh;
    position: absolute;
    padding-top: 20vh;
    text-align: center;
    left:0;
    width: 104vw;
    height: 50vh;
    filter: blur(4px);
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0) ), url('images/schoolsubjects.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 200vh;

}

.home-image-text{
    margin-top: 10vh;
    position: absolute;
    text-align: center;
    width: 100vw;
    height: 50vh;
    filter: drop-shadow(0 0 0.75rem black);
}

.home-content{
    text-align: center;
    width: 100vw;
    height:100vh;
    margin-top:70vh;
    position:absolute;
}

.home-content-2{
    text-align: left;
    width: 100vw;
    height:100vh;
    margin-top:80vh;
    margin-left: 10vw;
    position:absolute;
}

.home-content-2 h1{
    font-size: 3vw;
}

footer{
    padding: 0;
    margin-left:0;
    position: absolute;
    left: 0;
    width: 100vw;
    height: 30vh;
    margin-top: 200vh;
    /*background-color: #323232;*/
    background-color: #262262;
}

.footer-fess{
    z-index: 2;
    width: 100vw;
    position:absolute;
    left: 0;
    height: 2vh;
    background-color: var(--text-secondary);
}

.footer-nav{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    width: 16vw;
    margin-left:2vw;
}

.fade-in-onload{
    animation: fadeIn 2s;

}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.navbar-nav:first-child{
    margin-top: -0.3vh;
    margin-left:-10vw;
}

.footer-2{
    position: absolute;
    margin-left:25vw;
    color: var(--content-primary);
    margin-top:-20vh;
}

.footer-4{
    position: absolute;
    margin-left:45vw;
    color: var(--content-primary);
    margin-top:-24.5vh;
}

.footer-3{
    position:absolute;
    margin-left:75vw;
    color: var(--content-primary);
    margin-top:-25vh;
}

.footer-3 a{
    color:var(--content-primary)
}

.footer-3 a:hover{
    color: slategray;
}
.footer-contact{
    margin-left:-1vw;
    text-decoration: none;
    list-style-type: none;
}

.footer-item{
    width:6vw;
}

.footer-item a:hover{
    color: slategrey;
}

@media only screen and (max-width: 1200px){
    .mobile-only{
        display: block;
    }
}

@media only screen and (min-width: 1200px){
    .mobile-only{
        display: none;
    }
}

.home-content-red-1{
    z-index:-2;
    margin-left:-10vw;
    margin-top:4vh;
    width: 100vw;
    height: 106vh;
    background:var(--content-primary);
    position:absolute;
}