.home-content-2{
    width: 100vw;
    margin-left:-10vw;
    margin-top: 5vh;
}

.home-image{
    margin-top: -2.5vh;
    position: absolute;
    padding-top: 20vh;
    text-align: center;
    width: 100vw;
    height: 30vh;
    filter: blur(4px);
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0) ), url('images/gunnhigh.png');
    background-repeat: no-repeat;
    background-size: 100vw 120vh;

}

.home-content{
}

.member-list{
    width: 83vw;
    height: 180vh;
    margin-top: 30vh;
    margin-left:40vh;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.member-image{
    width:25vw;
    height: 55vh;
    background-image: url("images/mark.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10%;
    box-shadow: 0px 10px 18px black;
}

.member-bio{
    width:25vw;
    height:15vh;
    font-size: 3vh;
    font-family: Alata;
    text-align: center;
}

.member-bio-size-2{
    width:35vw;
    height:35vh;
    font-size: 3vh;
    font-family: Alata;
    text-align: center;
}

.fade-in-scroll{
    opacity: 0;
}

footer{
    margin-top: 220vh;
}