.home-image{
    margin-top: -2.5vh;
    position: absolute;
    padding-top: 20vh;
    text-align: center;
    width: 100vw;
    height: 30vh;
    filter: blur(4px);
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0) ), url('images/calendarwork.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 120vh;

}

.home-content-2{
    margin-left: 0;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

.calendar{
    width: 40vw;
    height: 100vh;
    position:relative;
}

.calendar iframe{
    position: relative;
    left: 0;
    width: 40vw;
    height: 60vh;
}

footer{
    margin-top: 70vh;
}

