.home-content h1{
    font-size:3vw;
}

.home-content{
    display: flow;
}

.links{
    margin-left:2vw;
    font-size:1.5vw;
}

h2{
    font-size:2vw;
}

.links a{
    display: inline-block;
    z-index: 100000;
}
